* {
  font-family: "Poppins", sans-serif;
}

.navbar {
  background-color: #5879ff;
  color: white;
  min-height: 8vh;
}

.nav-item {
  font-size: 1rem;
  margin: 0 1vw;
}

.btn {
  font-size: 0.9rem;
  margin-left: 1vw;
  font-weight: 600;
  color: white;
  background: #f45a2a;
}

.sectionone {
  background: linear-gradient(#6f4ebb, #3b44d6);
  min-height: 92vh;
  position: relative;
  padding-top: 5vh;
}

.heading {
  font-size: 4.95rem;
  line-height: 6rem;
  font-weight: 600;
  color: white;
}

.tagline {
  color: white;
  line-height: 1.5rem;
}

.image img {
  height: 90vh;
}


.gtech,
.tinker,
.riet {
  width: 15vw;
}

.supported{
  font-size: 1.2rem;
  letter-spacing: 5;
}

.supporters{
  margin: 8vh 0;
}

.aroundhead{
  font-size: 3rem;
  font-weight: 600;
  color: #2F373D;
}

.taglinethree{
  line-height: 2.25rem;
  margin: 4vh 0;
  font-size: 1.1rem;
  color: #878E94;
}

.listele{
  font-weight: 500;
  line-height: 2.25rem;
  font-size: 1.25rem;
}
