* {
  font-family: "Poppins", sans-serif;
}

.navbar {
  background-color: #5879ff;
  color: white;
  min-height: 8vh;
}

.nav-item {
  font-size: 1rem;
  margin: 0 1vw;
}

.btn {
  font-size: 0.9rem;
  margin-left: 1vw;
  font-weight: 600;
  color: white;
  background: #f45a2a;
}

.sectionone {
  background: linear-gradient(#6f4ebb, #3b44d6);
  min-height: 92vh;
  position: relative;
  padding-top: 5vh;
}

.heading {
  font-size: 4.95rem;
  line-height: 6rem;
  font-weight: 600;
  color: white;
}

.tagline {
  color: white;
  line-height: 1.5rem;
}

.image img {
  height: 90vh;
}
